{% extends "base.html" %}
{% load static %}

{% block page_header %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid nav-container">

        <!-- Toggler for mobile view -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Centered Navbar Links -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- Dropdown 1: Categories -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-green" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-expanded="false">
                        All products
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item" href="#">Price</a></li>
                        <li><a class="dropdown-item" href="#">Rating</a></li>
                        <li><a href="{% url 'product_list' %}?sort=category&direction=asc" class="dropdown-item" href="#">Categories</a></li>
                        <li><a a href="{% url 'product_list' %}" class="dropdown-item" href="#">All products</a></li>
                    </ul>
                </li>

                <!-- Dropdown 2: Sort By -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-expanded="false">
                        Men
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <li><a href="{% url 'product_list' %}?category=men_shirts" class="dropdown-item">T-shirts and Shirts</a></li>
                        <li><a href="{% url 'product_list' %}?category=men_pants" class="dropdown-item">Shorts and Trousers</a></li>
                        <li><a href="{% url 'product_list' %}?category=men_trainers" class="dropdown-item">Trainers</a></li>
                        <li><a href="{% url 'product_list' %}?category=men_shirts,men_pants,men_trainers" class="dropdown-item">All clothing</a></li>
                    </ul>
                </li>

                <!-- Dropdown 3: Price Range -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-expanded="false">
                        Women
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <li><a href="{% url 'product_list' %}?category=women_shirts" class="dropdown-item">T-shirts and Shirts</a></li>
                        <li><a href="{% url 'product_list' %}?category=women_pants" class="dropdown-item">Shorts and Trousers</a></li>
                        <li><a href="{% url 'product_list' %}?category=women_trainers" class="dropdown-item">Trainers</a></li>
                        <li><a href="{% url 'product_list' %}?category=women_shirts,women_pants,women_trainers" class="dropdown-item">All clothing</a></li>
                    </ul>
                </li>

                <!-- Dropdown 4: Brands -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-expanded="false">
                        Accessories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
                        <li><a href="{% url 'product_list' %}?category=gym_equipment" class="dropdown-item">Gym Equipment</a></li>
                        <li><a href="{% url 'product_list' %}?category=water_bottles" class="dropdown-item">Water Bottles</a></li>
                        <li><a href="{% url 'product_list' %}?category=backpacks" class="dropdown-item">Back Packs</a></li>
                        <li><a href="{% url 'product_list' %}?category=gym_equipment,water_bottles,backpacks"class="dropdown-item">All accessories</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container py-5">
    <div class="row mb-4">
        <div class="col">
            <h2 class="text-center">Products</h2>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card h-100 border-0 shadow-sm">
                <!-- Product Image -->
                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="#">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="No Image">
                </a>
                {% endif %}

                <!-- Product Details -->
                <div class="card-body">
                    <p class="mb-0 font-weight-bold">
                        <a href="{% url 'product_detail' product.id %}" class="text-dark">{{ product.name }}</a>
                    </p>
                </div>

                <!-- Footer -->
                <div class="card-footer bg-white">
                    <p class="lead text-left text-success font-weight-bold">${{ product.price }}</p>
                    {% if product.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="#">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    <p class="small">
                        {% if product.rating %}
                            <i class="fas fa-star text-warning"></i> {{ product.rating }} / 5
                        {% else %}
                            No Rating
                        {% endif %}
                    </p>
                    {% if request.user.is_superuser %}
                    <small class="text-muted">
                        <a href="#">Edit</a> |
                        <a href="#" class="text-danger">Delete</a>
                    </small>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}